################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/bin
/Client/obj
/Server
/ServerApi/bin
/ServerApi/obj
/ServerApiTests/bin
/ServerApiTests/obj
/Utils/bin
/Utils/obj
/ServerApi/appsettings.json
